<div>
    <button type="button" class="btn btn-primary" routerLink="/editabout/1" *ngIf="isLogged">
        Editar perfil
    </button>    
</div>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{person.img}} class="img-fluid" id="profile-picture">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{person.name}} {{person.lastname}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{person.description}}</p>
        </span>
    </div>
</div>