<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 profile-container">
        <img src="../../../assets/luis00.png" class="img-fluid profile-picture">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p id="name">{{person.name}} {{person.lastname}}</p>
        <p>Java | Spring Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h1>Acerca de</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio eos, iusto, dolor aut perspiciatis quas culpa iste sunt architecto nesciunt exercitationem, sint eveniet magni saepe repellat nulla error aliquid a!
        </p>
    </div>
</div>