.row {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;

    display: flex;
    align-items: center;
    /* Alinea los elementos verticalmente al centro */
}

div {
    background-color: rgb(240, 239, 239);
    text-align: center;
}

/* Asegura que el contenedor principal use Flexbox */
.row {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten dentro del contenedor */
}

/* Estilos para las columnas */
.col-xs-12,
.col-sm-4,
.col-md-4,
.col-lg-4 {
    box-sizing: border-box;
    padding: 15px;
    /* Ajusta el padding si es necesario */
}

/* Estilo para el nombre */
#name {
    font-weight: bold;
    margin: 0;
}

/* Estilos para el texto en general */
p {
    margin: 0;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
    box-shadow: 3px 3px 3px grey;
    max-width: 100%;
    /* Ensures the image is responsive */
    height: auto;
    /* Maintains aspect ratio */
}

/* Styles for large screens (desktops and monitors) */
@media (min-width: 992px) {
    .profile-picture {
        width: 200px;
        /* Adjust size as needed */
    }
}

/* Styles for medium screens (tablets and small desktops) */
@media (min-width: 576px) and (max-width: 991px) {
    .profile-picture {
        width: 140px;
        /* Adjust size as needed */
    }
}

/* Styles for small screens (mobile devices) */
@media (max-width: 575px) {
    .profile-picture {
        width: 120px;
        /* Adjust size as needed */
    }
}