<div class="row">
    <h1>Hard and Soft skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nuevo skill</button>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circle" *ngFor="let skill of skills">
        <circle-progress
            [percent]="(skill.percentage)"
            [radius]="86"
            [showUnits]="false"
            [title]="(skill.name)"
            [titleColor]="'#212F3C'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil"></i> <!-- Editar -->
                </button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash3"></i> <!-- Borrar -->
                </button>
            </td>
        </div>
    </div>  

</div>
