<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="text-container">
            <h1 class="parte1">CRUD con Angular + Spring</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A molestias nostrum aut veritatis cupiditate eum, unde, quibusdam dolor alias eaque eveniet enim et adipisci distinctio necessitatibus repellendus odio quae excepturi.
            </p>
        </div>
        <div class="image-container">
            <img src="../../../assets/neumaticos.png" class="img-fluid img-proyect" alt="Neumáticos">
        </div>
    </div>
</div>